In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv('Ford.csv')

In [3]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2
17965,Focus,2015,8299,Manual,5007,Petrol,22,57.7,1.0

In [4]:
from sklearn.preprocessing import LabelEncoder
label_encoders={}
for column in data.select_dtypes(include=['object']).columns:
    le=LabelEncoder()
    data[column]=le.fit_transform(data[column])
    label_encoders[column]=le

In [5]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5,2017,12000,0,15944,4,150,57.7,1.0
1,6,2018,14000,1,9083,4,150,57.7,1.0
2,6,2017,13000,1,12456,4,150,57.7,1.0
3,5,2019,17500,1,10460,4,145,40.3,1.5
4,5,2019,16500,0,1482,4,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,0,2017,8999,1,16700,4,150,47.1,1.4
17962,0,2014,7499,1,40700,4,30,57.7,1.0
17963,6,2015,9999,1,7010,0,20,67.3,1.6
17964,11,2018,8299,1,5007,4,145,57.7,1.2
17965,23,2015,8299,1,5007,4,22,57.7,1.0

In [6]:
print(data.dtypes)

model             int32
year              int64
price             int64
transmission      int32
mileage           int64
fuelType          int32
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [7]:
independent=data[["model","year","transmission","mileage","fuelType","tax","mpg","engineSize"]]
dependent=data[["price"]]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [9]:
moduel=RandomForestRegressor(n_estimators=100,random_state=0)
moduel.fit(X_train,Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(random_state=0)

In [10]:
y_pred = moduel.predict(X_test)

In [11]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
print("r_score",r_score)

r_score 0.9301894087947629

In [12]:
X_train

       model  year  transmission  mileage  fuelType  tax   mpg  engineSize
12564      2  2019             2     4801         4  145  45.6         1.0
17365      5  2017             1    17000         0  145  85.6         1.5
3159       6  2019             1     4286         4  145  60.1         1.0
16056     18  2017             1    47612         0  125  51.4         2.0
14439      5  2013             1    52135         0    0  85.6         1.6
...      ...   ...           ...      ...       ...  ...   ...         ...
9225       6  2016             1    53530         0    0  74.3         1.5
13123      0  2017             2    26806         4  160  44.1         1.6
9845       5  2015             1    18136         0    0  88.3         1.5
10799     13  2018             1    10435         0  145  54.3         1.5
2732      13  2014             1    42342         0  145  53.3         2.0

[12576 rows x 8 columns]

In [13]:
model=int(input("enter the prediction input value:"))
year=int(input("enter the prediction input value:"))
transmission=int(input("enter the  prediction input value:"))
mileage=int(input("enter the prediction input value:"))
fuelType=int(input("enter the prediction value:"))
tax=int(input("enter the prediction input value:"))
mpg=float(input("enter the prediction input value:"))
engineSize=float(input("enter the  prediction input value:"))
future_prediction=moduel.predict([[model,year,transmission,mileage,fuelType,tax,mpg,engineSize]])
print("future_prediction={}".format(future_prediction))

enter the prediction input value:20
enter the prediction input value:2018
enter the  prediction input value:2
enter the prediction input value:52350
enter the prediction value:4
enter the prediction input value:145
enter the prediction input value:88.3
enter the  prediction input value:2.0
future_prediction=[12961.77]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(